body {
    margin: 0;
    height: 100vh;
    background: url(/assets/beachBackground.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: auto;
    font-family: "Poppins";
}

.loader {
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 999;
    top: 0;

    .blinder-container {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100vh;
        display: flex;

        .blinder {
            background: #4EA292;
            height: 100vh;
            flex: 1;
            transform-origin: top;
        }
    }
    svg {
        position: absolute;
        margin: auto;
        top:0; left: 0;right:0;bottom:0;
        width: 7vw;
    }
}

/* navbar */
    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    /*rem (base units in html element) units for text, and em for scaling elements,  */
    nav {
        margin: 4em;
    }
    /* margin 0 since gap added a margin at top and bottom */
    nav ul {
        list-style-type: none;
        display: flex;
        gap: 1em;
        margin: 0;
    }
    /* position relative is used due to the sudo element used under it, position:relative - position:absolute - content: "", always used together*/
    nav ul li a {
        text-decoration: none;
        color: black;
        text-transform: uppercase;
        position: relative;
        font-size: 1rem;
    }
    /* absolute will be relative to the parent element */
    nav ul li a.active:before {
        position: absolute;
        content: "";
        width: 35%;
        height: 1px;
        border-bottom: 2px solid black;
        bottom: -6px;
    }

    /* applied to default */
    nav ul li a:before {
        position: absolute;
        content: "";
        width: 0%;
        height: 1px;
        border-bottom: 2px solid rgb(152, 152, 152);
        bottom: -6px;
        transition: width .3s;
    }

.drip-loader {
    animation: animateDrips 1s infinite;
}

@keyframes animateDrips {
    to {
        transform: translateY(100px);
    }
}

section {
    height: calc(100vh - 50vw);
    padding: 10vw 7vw;

    .mask {
        display: flex;
        gap: 2vw;
        overflow: hidden;
    }

    h1 {
        font-family: "Poppins";
        font-size: 5vw;
        line-height: 5vw;
        margin: 0;
        flex: 1;
        transform: translateY(-101%);
    }

    p {
        font-family: "Poppins";
        line-height: 2.5vw;
        font-size: clamp(1.2rem, 1vw + 1.31rem, 2.11rem);
        flex: 1.5;
        transform: translateY(-115%);
    }
}